.main {
  background-color: #ff6600;
}
.hnname {
  margin-right: 5px;
  bgcolor: #ff6600;
}

.td {
  background-color: #ff6600;
}

.logo {
  border: 1px white solid;
}

.table {
  min-width: 796px;
  bgcolor: #f6f6ef;
  width: 100%;
  border: 0;
  cellpadding: 0;
  padding: 2px;
}
