#hnmain {
  min-width: 796px;
}
.hnname {
  margin-right: 5px;
}

.main {
  bgcolor: #ff6600;
}

.tr_pagespace {
  height: 10px;
}
.table {
  min-width: 796px;
  bgcolor: #f6f6ef;
  border: 0;
  cellpadding: 0;
}
.body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}
.td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.td_title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  overflow: hidden;
}

.votelinks {
  min-width: 18px;
}

.athing {
}

.tr_spacer {
  height: 5px;
}
